html, body {
    margin: 0 !important;
    padding: 0 !important;
}

.configuration {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
}

.canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}
